# Ignore node_modules for both frontend and server
node_modules


# Ignore environment variables
.env


# Ignore build or dist folders (if any)
build


# Ignore log files
*.log

# Ignore any specific IDE or editor files
.vscode/
.idea/